<mat-vertical-stepper [linear]="isLinear"  #stepper> 
    <mat-step [completed]="false"  [stepControl]="personalDetail">
        <form [formGroup]="personalDetail">
            <ng-template matStepLabel>Personal Details</ng-template>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group"
                    [ngClass]="{'has-error': positionAppliedField.errors && positionAppliedField.touched}" >
                    <label for="positionApplied">Position Applied For:</label>                        
                    <input type="text" formControlName="positionApplied" 
                    class="form-control" id="positionApplied"                    
                    placeholder="Position Applied For">  
                    <span class="help-block" *ngIf="positionAppliedField.errors && positionAppliedField.touched">
                        <span *ngIf="positionAppliedField.errors.required">Position Applied is required</span>
                        <span *ngIf="positionAppliedField.errors.minlength">Position Applied  should contain at least {{ positionAppliedField.errors.minlength.requiredLength}} characters</span>
                        <span *ngIf="positionAppliedField.errors.maxlength">Please enter no more than {{ positionAppliedField.errors.maxlength.requiredLength }}  characters.</span>
                    </span>                      
                    </div>  
                </div>
                
            </div>
            <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group"
                          [ngClass]="{'has-error': nameField.errors && nameField.touched}" >
                            <label for="name">Name:</label>                           
                            <input type="text" formControlName="name" id="name"
                            class="form-control"                              
                           >   
                           <span class="help-block" *ngIf="nameField.errors && nameField.touched">
                                <span *ngIf="nameField.errors.required">Nameis required</span>
                                <span *ngIf="nameField.errors.minlength">Name should contain at least {{ nameField.errors.minlength.requiredLength}} characters</span>
                                <span *ngIf="nameField.errors.maxlength">Please enter no more than {{ nameField.errors.maxlength.requiredLength }}  characters.</span>
                            </span>                          
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group"
                        [ngClass]="{'has-error': qualificationField.errors && qualificationField.touched}" >
                          <label for="qualification">Qualification:</label>                           
                          <input type="text" formControlName="qualification"  id="qualification"
                          class="form-control"                           
                         >   
                         <span class="help-block" *ngIf="qualificationField.errors && qualificationField.touched">
                                <span *ngIf="qualificationField.errors.required">Qualification is required</span>
                                <span *ngIf="qualificationField.errors.minlength">Qualification  should contain at least {{ qualificationField.errors.minlength.requiredLength}} characters</span>
                                <span *ngIf="qualificationField.errors.maxlength">Please enter no more than {{ qualificationField.errors.maxlength.requiredLength }}  characters.</span>
                            </span>                        
                      </div>
                    </div>
                  </div>
                  <div class="row">
                        <div class="col-sm-3">
                          <div class="form-group"
                              [ngClass]="{'has-error': dateField.errors && dateField.touched}" >
                                <label for="date">Date:</label>                           
                                <input type="text" readonly bsDatepicker formControlName="date" id="date"
                                class="form-control"                              
                               >   
                               <span class="help-block" *ngIf="dateField.errors && dateField.touched">
                                    <span *ngIf="dateField.errors.required">Date is required</span>                                    
                                </span>                          
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group"
                            [ngClass]="{'has-error': venueField.errors && venueField.touched}" >                            
                              <label for="venue">Venue:</label>                           
                              <input type="text" formControlName="venue"  id="venue"
                              class="form-control"                           
                             >   
                             <span class="help-block" *ngIf="venueField.errors && venueField.touched">
                                    <span *ngIf="venueField.errors.required">Venue is required</span>
                                    <span *ngIf="venueField.errors.minlength">Venue  should contain at least {{ venueField.errors.minlength.requiredLength}} characters</span>
                                    <span *ngIf="venueField.errors.maxlength">Venue enter no more than {{ venueField.errors.maxlength.requiredLength }}  characters.</span>
                                </span>                        
                          </div>
                        </div>
                        <div class="col-sm-5">
                                <div class="form-group"
                                [ngClass]="{'has-error': callTimeField.errors && callTimeField.touched}" >                            
                                <label class="control-label col-sm-3 call-time-label" style="margin-top: 30px" for="pwd">Call Time:</label>
                                <div class="col-sm-9">                                                           
                                 <timepicker [formControlName]="'callTime'"></timepicker>
                                 <span class="help-block" *ngIf="callTimeField.errors && callTimeField.touched">
                                        <span *ngIf="callTimeField.errors.required">Venue is required</span>
                                      
                                    </span>   
                                    </div>                     
                              </div>
                            </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group"
                        [ngClass]="{'has-error': interviewField.errors && interviewField.touched}" >                            
                          <label for="venue">Interview:</label>                           
                          <input type="text" formControlName="interview"  id="interview"
                          class="form-control"                           
                         >   
                         <span class="help-block" *ngIf="interviewField.errors && interviewField.touched">
                                <span *ngIf="interviewField.errors.required">Interview feild is required</span>
                            </span>                        
                      </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group"
                        [ngClass]="{'has-error': personalField.errors && personalField.touched}" >                            
                          <label for="venue">Personal:</label>                           
                          <input type="text" formControlName="personal"  id="personal"
                          class="form-control"                           
                         >   
                         <span class="help-block" *ngIf="personalField.errors && personalField.touched">
                                <span *ngIf="personalField.errors.required">Personal feild is required</span>
                            </span>                        
                      </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group"
                        [ngClass]="{'has-error': marketingField.errors && marketingField.touched}" >                            
                          <label for="venue">Marketing:</label>                           
                          <input type="text" formControlName="marketing"  id="marketing"
                          class="form-control"                           
                         >   
                         <span class="help-block" *ngIf="marketingField.errors && marketingField.touched">
                                <span *ngIf="marketingField.errors.required">Marketing feild is required</span>
                            </span>                        
                      </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group"
                        [ngClass]="{'has-error': mockCallField.errors && mockCallField.touched}" >                            
                          <label for="venue">Mock Call:</label>                           
                          <input type="text" formControlName="mock_call"  id="mock_call"
                          class="form-control"                           
                         >   
                         <span class="help-block" *ngIf="mockCallField.errors && mockCallField.touched">
                                <span *ngIf="mockCallField.errors.required">Mock Call feild is required</span>
                            </span>                        
                      </div>
                    </div>
              </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group"
                            [ngClass]="{'has-error': companyField.errors && companyField.touched}" >
                            <label for="company">Company:</label>                           
                            <input type="text" formControlName="company" id="company"
                            class="form-control"                              
                            >   
                            <span class="help-block" *ngIf="companyField.errors && companyField.touched">
                                <span *ngIf="companyField.errors.required">Company is  required</span>
                                <span *ngIf="companyField.errors.minlength">Company should contain at least {{ nameField.errors.minlength.requiredLength}} characters</span>
                                <span *ngIf="companyField.errors.maxlength">Please enter no more than {{ nameField.errors.maxlength.requiredLength }}  characters.</span>
                            </span>                          
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group"
                        [ngClass]="{'has-error': experienceField.errors && experienceField.touched}" >
                            <label for="experience">Experience:</label>                           
                            <input type="text" formControlName="experience"  id="experience"
                            class="form-control"                           
                            >   
                            <span class="help-block" *ngIf="experienceField.errors && experienceField.touched">
                                <span *ngIf="experienceField.errors.required">Experience is required</span>
                                <span *ngIf="experienceField.errors.minlength">Experience  should contain at least {{ qualificationField.errors.minlength.requiredLength}} characters</span>                            
                            </span>                        
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group"
                                [ngClass]="{'has-error': remarkOfTheCompanyField.errors && remarkOfTheCompanyField.touched}" >
                                <label for="remarkOfTheCompany">Remark of the company:</label>                           
                                <input type="text" formControlName="remarkOfTheCompany" id="remarkOfTheCompany"
                                class="form-control"                              
                                >   
                                <span class="help-block" *ngIf="remarkOfTheCompanyField.errors && remarkOfTheCompanyField.touched">
                                    <span *ngIf="remarkOfTheCompanyField.errors.required">Remark is  required</span>
                                    <span *ngIf="remarkOfTheCompanyField.errors.minlength">Remark should contain at least {{ nameField.errors.minlength.requiredLength}} characters</span>
                                    <span *ngIf="remarkOfTheCompanyField.errors.maxlength">Please enter no more than {{ nameField.errors.maxlength.requiredLength }}  characters.</span>
                                </span>                          
                            </div>
                        </div>                        
                </div>
                <div class="row">
                    <div class="col-sm-12">                             
                        <button mat-button matStepperNext class="but-primary" >Next</button>
                    </div>                      
                </div>     
        </form>
    </mat-step>
    <mat-step [completed]="false" [stepControl]="factors">
        <form [formGroup]="factors">
        <ng-template matStepLabel>Rating (Tick the appropriate column with respect to the factors)</ng-template>
        <div class="row tb-row">
            <div class="col-sm-12">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th>FACTORS</th>
                            <th>Excellent(5)</th>
                            <th>V Good (4)</th>
                            <th>Good (3)</th>
                            <th>Average (2)</th>
                            <th>B Average (1)</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Marks (10)</td>
                            <td><p>80 & Above</p><label class="radio-inline"><input type="radio" name="marks" value="10" formControlName="marks" > (10) </label></td>
                            <td><p>66-80</p><label class="radio-inline"><input type="radio" name="marks" value="8" formControlName="marks" > (8) </label></td>
                            <td><p>56-65</p><label class="radio-inline"><input type="radio" name="marks" value="6" formControlName="marks" > (6) </label></td>
                            <td><p>41-55</p><label class="radio-inline"><input type="radio" name="marks" value="4" formControlName="marks" > (4) </label></td>
                            <td><p>40&Below</p><label class="radio-inline"><input type="radio" name="marks" value="2" formControlName="marks" > (2) </label></td>                            
                            <td></td>
                        </tr>
                        <tr>
                            <td>Degree (10)</td>
                            <td><label class="radio-inline"><input type="radio" name="degree" value="10" formControlName="degree" > (10) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="degree" value="8" formControlName="degree" > (8) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="degree" value="6" formControlName="degree" > (6) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="degree" value="4" formControlName="degree" > (4) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="degree" value="2" formControlName="degree" > (2) </label></td>                            
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                            <td>Total</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="6">Communication (15)</td>                                                        
                        </tr>
                        <tr>
                            <td>Fluency (10)</td>
                            <td><label class="radio-inline"><input type="radio" name="fluency" value="10" formControlName="fluency" > (10) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="fluency" value="8" formControlName="fluency" > (8) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="fluency" value="6" formControlName="fluency" > (6) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="fluency" value="4" formControlName="fluency" > (4) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="fluency" value="2" formControlName="fluency" > (2) </label></td>                            
                            <td></td>
                        </tr>
                        <tr>
                            <td>Expression (5)</td>
                            <td><label class="radio-inline"><input type="radio" name="expression" value="5" formControlName="expression" > (5) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="expression" value="4" formControlName="expression" > (4) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="expression" value="3" formControlName="expression" > (3) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="expression" value="2" formControlName="expression" > (2) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="expression" value="1" formControlName="expression" > (1) </label></td>                            
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                            <td>Total</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="6"></td>                                                        
                        </tr>
                        <tr>
                            <td>Work Experience (25)</td>
                            <td><p>6 yrs above</p><label class="radio-inline"><input type="radio" name="experience" value="25" formControlName="experience" > (25) </label></td>
                            <td><p>4 - 6 yrs</p><label class="radio-inline"><input type="radio" name="experience" value="20" formControlName="experience" > (20) </label></td>
                            <td><p>2 - 4 yrs</p><label class="radio-inline"><input type="radio" name="experience" value="15" formControlName="experience" > (15) </label></td>
                            <td><p>1 - 2 yrs</p><label class="radio-inline"><input type="radio" name="experience" value="10" formControlName="experience" > (10) </label></td>
                            <td><p>1yr & Below</p><label class="radio-inline"><input type="radio" name="experience" value="5" formControlName="experience" > (5) </label></td>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                            <td>Total</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="6">General (35)</td>                                                        
                        </tr>
                        <tr>
                            <td>Appearence (5)</td>
                            <td><label class="radio-inline"><input type="radio" name="appearence" value="5" formControlName="appearence" > (5) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="appearence" value="4" formControlName="appearence" > (4) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="appearence" value="3" formControlName="appearence" > (3) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="appearence" value="2" formControlName="appearence" > (2) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="appearence" value="1" formControlName="appearence" > (1) </label></td>                            
                            <td></td>
                        </tr>
                        <tr>
                            <td>Logical Ability (10)</td>
                            <td><label class="radio-inline"><input type="radio" name="logical" value="10" formControlName="logical" > (10) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="logical" value="8" formControlName="logical" > (8) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="logical" value="6" formControlName="logical" > (6) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="logical" value="4" formControlName="logical" > (4) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="logical" value="2" formControlName="logical" > (2) </label></td>                            
                            <td></td>
                        </tr>
                        <tr>
                            <td>Explanation of Responsibilities (20)</td>
                            <td><label class="radio-inline"><input type="radio" name="responsibilities" value="20" formControlName="responsibilities" > (20) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="responsibilities" value="16" formControlName="responsibilities" > (16) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="responsibilities" value="12" formControlName="responsibilities" > (12) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="responsibilities" value="8" formControlName="responsibilities" > (8) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="responsibilities" value="4" formControlName="responsibilities" > (4) </label></td>                            
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                            <td>Total</td>
                            <td></td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th>Assessment Summary</th>                                                        
                        </tr>
                        <tr>
                            <th colspan="5">HR Interview</th> 
                            <!-- <th rowspan="2">Marketing Interview</th>
                            <th>Mock call</th>                                                       
                            <th>Total</th>                                                        -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Education</th>
                            <th>Communication</th>
                            <th>Experience</th>
                            <th>General</th>
                            <th>Total</th>
                        </tr>
                        <tr>
                            <td>(Education Total)</td>
                            <td>(Communication Total)</td>
                            <td>(Experience Total)</td>
                            <td>(General Total)</td>
                            <td>(Total Total)</td>
                        </tr>
                        <tr>
                            <th>Marketing Interview</th>
                            <th>Mock call</th>
                            <th>Total</th>
                        </tr>
                        <tr>
                            <td>(Marketing Interview Total)</td>
                            <td>(Mock call Total)</td>
                            <td>(Total Total)</td>
                        </tr>
                        <tr>
                            <th>RESULT</th>
                            <td><label class="radio-inline"><input type="radio" name="result" value="Selected" formControlName="result" > Selected </label></td>
                            <td><label class="radio-inline"><input type="radio" name="result" value="Short Listed" formControlName="result" > Short Listed </label></td>
                            <td><label class="radio-inline"><input type="radio" name="result" value="Pending" formControlName="result" > Pending </label></td>
                            <td><label class="radio-inline"><input type="radio" name="result" value="Rejected" formControlName="result" > Rejected </label></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row tb-row">
                <div class="col-sm-12"> 
                    <button mat-button matStepperPrevious class="but-primary">Back</button>                            
                    <button mat-button matStepperNext class="but-primary" >Next</button>
                </div>                      
            </div>  
        </form>
    </mat-step>
    <mat-step [completed]="false" [stepControl]="interview">
        <form [formGroup]="interview">
        <ng-template matStepLabel>Marketing Interview Rating (Tick the appropriate column with respect to the factors)</ng-template>
        <div class="row tb-row">
            <div class="col-sm-12">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th>FACTORS</th>
                            <th>V.Good (5)</th>
                            <th>Good (4)</th>
                            <th>A.Average (3)</th>
                            <th>Average (2)</th>
                            <th>Poor (1)</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Communication</th>
                            <td><label class="radio-inline"><input type="radio" name="interview_communication" value="5" formControlName="interview_communication" > (5) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="interview_communication" value="4" formControlName="interview_communication" > (4) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="interview_communication" value="3" formControlName="interview_communication" > (3) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="interview_communication" value="2" formControlName="interview_communication" > (2) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="interview_communication" value="1" formControlName="interview_communication" > (1) </label></td>
                            <th>(Total)</th>
                        </tr>
                        <tr>
                            <th>Academics</th>
                            <td><label class="radio-inline"><input type="radio" name="academics" value="5" formControlName="academics" > (5) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="academics" value="4" formControlName="academics" > (4) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="academics" value="3" formControlName="academics" > (3) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="academics" value="2" formControlName="academics" > (2) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="academics" value="1" formControlName="academics" > (1) </label></td>
                            <th>(Total)</th>
                        </tr>
                        <tr>
                            <th>Family Background</th>
                            <td><label class="radio-inline"><input type="radio" name="background" value="5" formControlName="background" > (5) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="background" value="4" formControlName="background" > (4) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="background" value="3" formControlName="background" > (3) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="background" value="2" formControlName="background" > (2) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="background" value="1" formControlName="background" > (1) </label></td>
                            <th>(Total)</th>
                        </tr>
                        <tr>
                            <th>Attitude</th>
                            <td><label class="radio-inline"><input type="radio" name="attitude" value="5" formControlName="attitude" > (5) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="attitude" value="4" formControlName="attitude" > (4) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="attitude" value="3" formControlName="attitude" > (3) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="attitude" value="2" formControlName="attitude" > (2) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="attitude" value="1" formControlName="attitude" > (1) </label></td>
                            <th>(Total)</th>
                        </tr>
                        <tr>
                            <th>Domain Knowledge</th>
                            <td><label class="radio-inline"><input type="radio" name="domain" value="5" formControlName="domain" > (5) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="domain" value="4" formControlName="domain" > (4) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="domain" value="3" formControlName="domain" > (3) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="domain" value="2" formControlName="domain" > (2) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="domain" value="1" formControlName="domain" > (1) </label></td>
                            <th>(Total)</th>
                        </tr>
                        <tr>
                            <th>a) Sales Experience</th>
                            <td><label class="radio-inline"><input type="radio" name="sales_exp" value="5" formControlName="sales_exp" > (5) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="sales_exp" value="4" formControlName="sales_exp" > (4) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="sales_exp" value="3" formControlName="sales_exp" > (3) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="sales_exp" value="2" formControlName="sales_exp" > (2) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="sales_exp" value="1" formControlName="sales_exp" > (1) </label></td>
                            <th>(Total)</th>
                        </tr>
                        <tr>
                            <th>a) Other Experience</th>
                            <td><label class="radio-inline"><input type="radio" name="other_exp" value="5" formControlName="other_exp" > (5) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="other_exp" value="4" formControlName="other_exp" > (4) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="other_exp" value="3" formControlName="other_exp" > (3) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="other_exp" value="2" formControlName="other_exp" > (2) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="other_exp" value="1" formControlName="other_exp" > (1) </label></td>
                            <th>(Total)</th>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                            <td>Marketing Interview Total</td>
                            <td>(Total)</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row tb-row">
                <div class="col-sm-12"> 
                    <button class="but-primary" mat-button matStepperPrevious>Back</button>                            
                    <button mat-button matStepperNext class="but-primary" >Next</button>
                </div>                      
            </div>  
        </form>
    </mat-step>
    <mat-step [completed]="false" [stepControl]="mockCall">
        <form [formGroup]="mockCall">
        <ng-template matStepLabel>Mock Call Session Rating (Tick the appropriate column with respect to the factors)</ng-template>
        <div class="row tb-row">
            <div class="col-sm-12">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th>FACTORS</th>
                            <th>V.Good (5)</th>
                            <th>Good (4)</th>
                            <th>A.Average (3)</th>
                            <th>Average (2)</th>
                            <th>Poor (1)</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Communication</th>
                            <td><label class="radio-inline"><input type="radio" name="mock_call_communication" value="5" formControlName="mock_call_communication" > (5) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="mock_call_communication" value="4" formControlName="mock_call_communication" > (4) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="mock_call_communication" value="3" formControlName="mock_call_communication" > (3) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="mock_call_communication" value="2" formControlName="mock_call_communication" > (2) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="mock_call_communication" value="1" formControlName="mock_call_communication" > (1) </label></td>
                            <th>(Total)</th>
                        </tr>
                        <tr>
                            <th>Voice Modulation</th>
                            <td><label class="radio-inline"><input type="radio" name="voice" value="5" formControlName="voice" > (5) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="voice" value="4" formControlName="voice" > (4) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="voice" value="3" formControlName="voice" > (3) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="voice" value="2" formControlName="voice" > (2) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="voice" value="1" formControlName="voice" > (1) </label></td>
                            <th>(Total)</th>
                        </tr>
                        <tr>
                            <th>Explaining Ability</th>
                            <td><label class="radio-inline"><input type="radio" name="explaining_ability" value="5" formControlName="explaining_ability" > (5) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="explaining_ability" value="4" formControlName="explaining_ability" > (4) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="explaining_ability" value="3" formControlName="explaining_ability" > (3) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="explaining_ability" value="2" formControlName="explaining_ability" > (2) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="explaining_ability" value="1" formControlName="explaining_ability" > (1) </label></td>
                            <th>(Total)</th>
                        </tr>
                        <tr>
                            <th>Sales Pitch</th>
                            <td><label class="radio-inline"><input type="radio" name="sales_pitch" value="10" formControlName="sales_pitch" > (1) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="sales_pitch" value="8" formControlName="sales_pitch" > (8) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="sales_pitch" value="6" formControlName="sales_pitch" > (6) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="sales_pitch" value="4" formControlName="sales_pitch" > (4) </label></td>
                            <td><label class="radio-inline"><input type="radio" name="sales_pitch" value="2" formControlName="sales_pitch" > (2) </label></td>
                            <th>(Total)</th>
                        </tr>
                        <tr>
                            <th>a) Opening</th>
                            <td colspan="6">(Opening)</td>
                        </tr>
                        <tr>
                            <th>b) Rebuttals</th>
                            <td colspan="6">(Rebuttals)</td>
                        </tr>
                        <tr>
                            <th>c) Closing</th>
                            <td colspan="6">(Closing)</td>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                            <td>Mock Interview Total</td>
                            <td>(Total)</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row tb-row">
                <div class="col-sm-12"> 
                    <button mat-button matStepperPrevious class="but-primary">Back</button>                            
                    <button mat-button matStepperNext class="but-primary" >Next</button>
                </div>                      
            </div>  
        </form>
    </mat-step>
    <mat-step [completed]="false" [stepControl]="finalStatus">
        <form [formGroup]="finalStatus">
            <ng-template matStepLabel>Final Status</ng-template>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group"
                    [ngClass]="{'has-error': finalStatusField.errors && finalStatusField.touched}">
                    <label for="positionApplied">Final Status</label> 
                    <textarea type="text" id="textarea" class="form-control" formControlName="final_status"></textarea>
                    <span class="help-block" *ngIf="finalStatusField.errors && finalStatusField.touched">
                        <span *ngIf="finalStatusField.errors.required">Final status is required</span>
                    </span> 
                    </div>  
                </div>  
            </div>
            <div class="row tb-row">
                <button class="but-primary" mat-button matStepperPrevious>Back</button>
                <button class="but-primary" mat-button >Save</button>
                <button type="submit" (click)="onSubmit()" class="but-primary" mat-button >Submit</button>
                <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
            </div>      
        </form>
    </mat-step>
</mat-vertical-stepper>
